{% extends 'actives_IT/base.html' %}
<!DOCTYPE html>
<html>
<body>
{% block content %}
<h2>Detalhes do Computador</h2>
<p>Tombamento: {{ object.tombamento }}</p>
<p>Numero de Série: {{ object.numero_serie }}</p>
<p>Sistema Operacional: {{ object.sistema_oper }}</p>
<p>Licença do SO: {{ object.licenca_so }}</p>
<p>Numero IP: {{ object.ip }}</p>
<p>Numero MAC: {{ object.mac }}</p>
<p>Processador: {{ object.processador }}</p>
<p>Memoria: {{ object.memoria }}</p>
<p>HP: {{ object.hd }}</p>
<p>Ultima Manutenção: {{ object.data_ultima_manutencao }}</p>
<p>Próxima Manutenção: {{ object.data_proxima_manutencao }}</p>
<p>Descrição da Manutenção: {{ object.descricao_manutencao }}</p>
<p>Status: {{ object.status }}</p>
<p>Setor: {{ object.setor }}</p>
<p>Modelo: {{ object.modelo }}</p>
{% endblock %}
</body>
</html>
