<h2>Sistema de Gerenciamento de Ativos de TI</h2>
<p><a href="{% url 'adicionarpc' %}">Adicionar Um Novo Computador</a></p>
<p><a href="{% url 'adicionarmodelopc' %}">Adicionar Um Novo Modelo de PC</a></p>
<p><a href="{% url 'adicionarroteadorwifi' %}">Adicionar Um Novo Roteadorr</a></p>
<p><a href="{% url 'adicionarsetor' %}">Adicionar Um Novo Setor</a></p>
<p><a href="{% url 'adicionarimpressora' %}">Adicionar Uma Nova Impressora</a></p>
<p><a href="{% url 'adicionarswitch' %}">Adicionar Um Novo Switch</a></p>
